.choosen__results{
    display: flex;
    flex: 1 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forecastRow{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
}

.pInfo{
    font-weight: bold;
}

img{
    width: 10em;
    height: 10em;
}
.options_degrees, .how__much__forecast{
    display: inline;
}
form{
    padding: 5px;
}

.pierwsza{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    color: darkblue;
    background: lightblue;
    text-align: center;
}

.forecastInfo{
    border: 2px dashed blue;
}



/* --------- Tekst ----------- */
.forecastDescription{
    text-align: center;
    font-weight: normal;
    color: red;
    border: 1px solid green;
}

span{
    color: green;
}
